# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
 workflow_dispatch:
    inputs:
      testSuite:
        description: 'Regression Suite Name'     
        required: true
        default: 'smoke' 
      testClass:
        description: 'Test Class Path' 

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Install Google Chrome # Using shell script to install Google Chrome
      run: 
         chmod +x ./scripts/InstallChrome.sh
         ./scripts/InstallChrome.sh    
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: |
       echo "Regression Suite: ${{ github.event.inputs.testSuite }}"
       echo "Test Class: ${{ github.event.inputs.testClass }}" 
       ./gradlew test test1.java --info
            
